body{
    font-family: "Raleway", sans-serif;
    color: #3c3c3c;

}
h1{
font-family: 'DM Serif Display', serif;
  font-weight: lighter;
  color: #3c3c3c;
}
h2{
  font-family: 'DM Serif Display', serif;
 font-weight: lighter;
  color: #3c3c3c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}